In [1]:
# Assignment #4 - Final Assignment 
#"How does the frequency of mental health illness and attitudes towards mental health vary by geographic location?"

In [2]:
# loading required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import pie, axis, show
# Seaborn for plotting and styling
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
# loading respective data
dataset = pd.read_csv('survey.csv')
dataset.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [4]:
# Preprocessing data for further analysis
# Checking the null values


dataset.isnull()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,False,False,False,False,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
1255,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1256,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1257,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
1258,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [5]:
dataset.describe

<bound method NDFrame.describe of                 Timestamp  Age  Gender         Country state self_employed  \
0     2014-08-27 11:29:31   37  Female   United States    IL           NaN
1     2014-08-27 11:29:37   44       M   United States    IN           NaN
2     2014-08-27 11:29:44   32    Male          Canada   NaN           NaN
3     2014-08-27 11:29:46   31    Male  United Kingdom   NaN           NaN
4     2014-08-27 11:30:22   31    Male   United States    TX           NaN
...                   ...  ...     ...             ...   ...           ...
1254  2015-09-12 11:17:21   26    male  United Kingdom   NaN            No
1255  2015-09-26 01:07:35   32    Male   United States    IL            No
1256  2015-11-07 12:36:58   34    male   United States    CA            No
1257  2015-11-30 21:25:06   46       f   United States    NC            No
1258  2016-02-01 23:04:31   25    Male   United States    IL            No

     family_history treatment work_interfere    no_employees  ...  \
0                No       Yes          Often            6-25  ...
1                No        No         Rarely  More than 1000  ...
2                No        No         Rarely            6-25  ...
3               Yes       Yes          Often          26-100  ...
4                No        No          Never         100-500  ...
...             ...       ...            ...             ...  ...
1254             No       Yes            NaN          26-100  ...
1255            Yes       Yes          Often          26-100  ...
1256            Yes       Yes      Sometimes  More than 1000  ...
1257             No        No            NaN         100-500  ...
1258            Yes       Yes      Sometimes          26-100  ...

                   leave mental_health_consequence phys_health_consequence  \
0          Somewhat easy                        No                      No
1             Don't know                     Maybe                      No
2     Somewhat difficult                        No                      No
3     Somewhat difficult                       Yes                     Yes
4             Don't know                        No                      No
...                  ...                       ...                     ...
1254       Somewhat easy                        No                      No
1255  Somewhat difficult                        No                      No
1256  Somewhat difficult                       Yes                     Yes
1257          Don't know                       Yes                      No
1258          Don't know                     Maybe                      No

         coworkers    supervisor mental_health_interview  \
0     Some of them           Yes                      No
1               No            No                      No
2              Yes           Yes                     Yes
3     Some of them            No                   Maybe
4     Some of them           Yes                     Yes
...            ...           ...                     ...
1254  Some of them  Some of them                      No
1255  Some of them           Yes                      No
1256            No            No                      No
1257            No            No                      No
1258  Some of them            No                      No

     phys_health_interview mental_vs_physical obs_consequence comments
0                    Maybe                Yes              No      NaN
1                       No         Don't know              No      NaN
2                      Yes                 No              No      NaN
3                    Maybe                 No             Yes      NaN
4                      Yes         Don't know              No      NaN
...                    ...                ...             ...      ...
1254                    No         Don't know              No      NaN
1255                    No                Yes              No      NaN
1256                    No                 No              No      NaN
1257                    No                 No              No      NaN
1258                    No         Don't know              No      NaN

[1259 rows x 27 columns]>

In [6]:
# Checking for Duplicates
dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1254    False
1255    False
1256    False
1257    False
1258    False
Length: 1259, dtype: bool

In [7]:
# Dropping Duplicates

dataset.drop_duplicates()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [8]:

#Convert Data into a Dataframe

df=pd.DataFrame(dataset, columns =['Timestamp','Age','work_interfere','Gender','Country','state','comments','phys_health_consequence','mental_health_consequence','mental_health_interview','phys_health_interview','wellness_program','treatment','benefits','family_history'])

In [9]:
# Overall data and also we can see top 10 or bottom 10, just mentioned in bracket besides head accordingly

df.head()

,Timestamp,Age,work_interfere,Gender,Country,state,comments,phys_health_consequence,mental_health_consequence,mental_health_interview,phys_health_interview,wellness_program,treatment,benefits,family_history
0,2014-08-27 11:29:31,37,Often,Female,United States,IL,NaN,No,No,No,Maybe,No,Yes,Yes,No
1,2014-08-27 11:29:37,44,Rarely,M,United States,IN,NaN,No,Maybe,No,No,Don't know,No,Don't know,No
2,2014-08-27 11:29:44,32,Rarely,Male,Canada,NaN,NaN,No,No,Yes,Yes,No,No,No,No
3,2014-08-27 11:29:46,31,Often,Male,United Kingdom,NaN,NaN,Yes,Yes,Maybe,Maybe,No,Yes,No,Yes
4,2014-08-27 11:30:22,31,Never,Male,United States,TX,NaN,No,No,Yes,Yes,Don't know,No,Yes,No

In [10]:
# Converting  "timestamp" column data to datetime for our further working

df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [11]:
#Verifying the conversion(type of column is ocnverted to datetime or not)

df.dtypes

Timestamp                    datetime64[ns]
Age                                   int64
work_interfere                       object
Gender                               object
Country                              object
state                                object
comments                             object
phys_health_consequence              object
mental_health_consequence            object
mental_health_interview              object
phys_health_interview                object
wellness_program                     object
treatment                            object
benefits                             object
family_history                       object
dtype: object

In [12]:
# Removing all NAN(not applicable values from the rows data to generate good filtered data)
df2=df.dropna()
print(df2)

               Timestamp  Age work_interfere  Gender        Country state  \
13   2014-08-27 11:33:26   36          Never    Male  United States    CT
15   2014-08-27 11:34:00   29         Rarely  female  United States    IL
24   2014-08-27 11:36:48   33         Rarely    male  United States    CA
25   2014-08-27 11:37:08   35      Sometimes    male  United States    TN
33   2014-08-27 11:39:36   42      Sometimes    Male  United States    WA
...                  ...  ...            ...     ...            ...   ...
1186 2014-11-06 11:24:38   56         Rarely  female  United States    OR
1190 2015-01-03 03:38:30   44      Sometimes       M  United States    OH
1219 2015-02-21 09:48:13   38      Sometimes    Male  United States    TX
1221 2015-02-21 10:45:51   46      Sometimes    male  United States    MD
1249 2015-07-22 18:57:54   30      Sometimes       M  United States    CA

                                               comments  \
13    I'm not on my company's health insurance which...
15    I have chronic low-level neurological issues t...
24                  Relatively new job. Ask again later
25    Sometimes I think  about using drugs for my me...
33    I selected my current employer based on its po...
...                                                 ...
1186  I'm self-employed on contract with small start...
1190  My mental health issues were the direct result...
1219  I openly discuss my mental health struggles. I...
1221  Just starting a new job hence the numerous I d...
1249                                  Bipolar disorder

     phys_health_consequence mental_health_consequence  \
13                        No                        No
15                        No                        No
24                        No                        No
25                        No                       Yes
33                        No                     Maybe
...                      ...                       ...
1186                   Maybe                     Maybe
1190                      No                     Maybe
1219                      No                        No
1221                      No                        No
1249                      No                        No

     mental_health_interview phys_health_interview wellness_program treatment  \
13                        No                    No               No        No
15                     Maybe                 Maybe               No       Yes
24                        No                   Yes       Don't know       Yes
25                        No                   Yes               No       Yes
33                     Maybe                   Yes              Yes       Yes
...                      ...                   ...              ...       ...
1186                      No                    No       Don't know        No
1190                      No                    No               No       Yes
1219                      No                    No              Yes       Yes
1221                     Yes                   Yes       Don't know       Yes
1249                   Maybe                 Maybe       Don't know       Yes

        benefits family_history
13    Don't know            Yes
15           Yes            Yes
24           Yes            Yes
25           Yes            Yes
33           Yes            Yes
...          ...            ...
1186  Don't know             No
1190         Yes            Yes
1219         Yes             No
1221  Don't know            Yes
1249         Yes            Yes

[88 rows x 15 columns]

In [27]:
# printing values after removing NAN values
df2.head()

,Timestamp,Age,work_interfere,Gender,Country,state,comments,phys_health_consequence,mental_health_consequence,mental_health_interview,phys_health_interview,wellness_program,treatment,benefits,family_history,Attitudes,Work_interfere_illness,Zone,illness
13,2014-08-27 11:33:26,36,Never,Male,United States,CT,I'm not on my company's health insurance which...,No,No,No,No,No,No,Don't know,Yes,Positive_Attitude,Positive_interfere_illness,North_east_zone,Negative_illness
15,2014-08-27 11:34:00,29,Rarely,female,United States,IL,I have chronic low-level neurological issues t...,No,No,Maybe,Maybe,No,Yes,Yes,Yes,Positive_Attitude,Rare_interfere_illness,Middle_West_zone,Negative_illness
24,2014-08-27 11:36:48,33,Rarely,male,United States,CA,Relatively new job. Ask again later,No,No,No,Yes,Don't know,Yes,Yes,Yes,Positive_Attitude,Rare_interfere_illness,West_zone,Negative_illness
25,2014-08-27 11:37:08,35,Sometimes,male,United States,TN,Sometimes I think about using drugs for my me...,No,Yes,No,Yes,No,Yes,Yes,Yes,Negative_Attitude,Average_interfere_illness,South_zone,Negative_illness
33,2014-08-27 11:39:36,42,Sometimes,Male,United States,WA,I selected my current employer based on its po...,No,Maybe,Maybe,Yes,Yes,Yes,Yes,Yes,Average_Attitude,Average_interfere_illness,West_zone,Negative_illness